html {
    scroll-snap-type: y mandatory;
}

.app{
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}

.app___videos {
    position: relative;
    height: 100%;
    overflow: scroll;
    border-radius: 18px;
    width: 80%;
    max-width: 500px;
    scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.app___videos::-webkit-scrollbar{
    display: none;
}

/* HIde scrollbar for IE, Edge and FireFox */
.app___videos {
    -ms-overflow-style: none;
    scrollbar-width: none;
}